@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Syne:wght@700;800&family=Urbanist:wght@100;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 300px;
  }

  &.hidden {
    animation: fadeOut 0.2s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
    // display: none;
  }
}
.contact-section {
  z-index: 10;
  position: fixed;
  background-color: black;
  border-right: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  width: 50px;
  height: 100vh;

  &:hover {
    cursor: pointer;
  }

  .contact-div {
    padding: 10px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: sideways;

    font-weight: 400;
    letter-spacing: 2px;
    height: 100vh;

    .loop-container {
      white-space: nowrap;
      height: 100vh;
      display: flex;
      justify-content: space-between;

      .item {
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        left: -15px;
        color: white;
        height: 100%;

        .contact-bold {
          font-weight: 900;
          font-size: 2rem;
          // -webkit-text-stroke: 1px rgb(255, 255, 255);
          // -webkit-text-fill-color: transparent;
        }

        .contact-dot {
          font-size: 2rem;
          padding: 15px;
          font-weight: 900;
        }
      }
    }
  }
}

.logo {
  position: absolute;
  left: 200;
  top: 40;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(0.7) rotate(45deg);
  }
}

nav {
  position: fixed;
  right: 10%;
  z-index: 10;

  ul {
    list-style: none;

    li a {
      font-size: 5rem;
      text-decoration: none;
      color: white;
      font-weight: 100;
    }
  }
}

.hero {
  width: 100vw;
  // height: 100vh;
  background-color: black;

  .bg-heading {
    position: absolute;
    font-family: 'Nabla', cursive;
    width: 100%;
    height: 100%;
    font-size: 450px;
    opacity: 0.05;
    display: flex;
    align-items: center;
    justify-content: center;

    &::selection {
      background: rgb(255, 208, 0);
    }
  }

  &-content-main {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;

    h4 {
      font-size: 2rem;
    }

    > * {
      font-family: 'Syne', sans-serif;
    }

    .hero-heading-div {
      position: relative;
      height: 115px;

      .hero-heading-1,
      .hero-heading-2,
      .hero-heading-3 {
        position: absolute;
        font-family: 'Syne', sans-serif;
        overflow: hidden;
        display: inline-block;
        font-weight: 800;
        -webkit-text-stroke: 2px;
        -webkit-text-fill-color: transparent;
        text-shadow: -6px -3px 0 rgb(255, 255, 255);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        .char {
          font-size: 10rem;
          font-family: 'Syne', sans-serif;
          transform: translateY(200px);
          transition: transform 0.5s;
        }
      }
    }

    h2,
    h4 {
      // -webkit-text-fill-color: transparent;
      // -webkit-text-stroke: 2px;
      font-weight: 800;
    }
    h2 {
      font-size: 5rem;
    }
  }

  &-content-sub {
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-desc {
    color: white;
    margin-left: 200px;
    width: 400px;
    font-weight: 400;
    letter-spacing: 1px;

    p {
      font-size: 1.8rem;
    }
  }

  &-mail-btn {
    margin-right: 200px;
    button {
      background-color: transparent;
      padding: 2rem 30rem 2rem 2rem;
      color: white;
      text-align: left;
      font-size: 18px;
      font-family: 'Syne', sans-serif;
      border: 2px solid white;
      transition: background-color 0.2s;
      position: relative;

      &:hover {
        background-color: white;
        cursor: pointer;
      }
      &:hover::after {
        content: attr(data-value);
        color: black;
        width: 100%;
        position: absolute;
        left: 20;
      }
    }
  }
}

.work {
  background-color: black;

  &-title {
    margin-left: 200px;
    h4 {
      color: white;
      font-size: 1.6rem;
      padding: 40px 0px;
      font-family: 'Syne', sans-serif;
      font-weight: 800;
    }

    hr {
      position: relative;
      left: -5%;
    }
  }

  &-headings {
    position: relative;
    // margin: 20px 0 20px 200px;
    padding: 20px 0;
    margin-left: 200px;

    span {
      position: absolute;
      font-family: 'Urbanist', sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-shadow: none;
      color: white;
      -webkit-text-stroke: 0px white;
      -webkit-text-fill-color: white;
      background-color: rgba(white, 0.2);
      padding: 2px 5px;
      border-radius: 5px;
    }

    .work-label {
      &-kk,
      &-pc,
      &-dh,
      &-cs {
        opacity: 0;
      }
    }

    h1 {
      display: inline-block;
      padding: 20px 0;
      font-family: 'Syne', sans-serif;
      font-size: 10rem;
      font-weight: 800;
      border-bottom: 1px solid white;
      -webkit-text-stroke: 1px white;
      -webkit-text-fill-color: transparent;
      // text-shadow: -6px -3px 0 rgb(233, 191, 7);
      text-shadow: -6px -3px 0 rgb(255, 208, 0);
    }
  }

  &-designs {
    background-color: white;
    width: 100%;
    padding: 50px 0px;

    &-1,
    &-2 {
      padding: 10px 0;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.contacts-divider-line {
  opacity: 0;
  height: 2px;
  width: 80vh;
  transform: scale(0);
  background-color: white;
  position: fixed;
}

.contact {
  clip-path: circle(0%);
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-white-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    clip-path: circle(0%);
  }

  .close-btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 40px 32px;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 5%;
    right: 10%;

    &:hover {
      cursor: pointer;
      // background-color: black;
    }
  }

  &-socials {
    transform: translateY(-40%);
    h1 {
      margin-bottom: -30px;
      transform: translateY(-30px);
      a {
        font-size: 8rem;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-decoration: none;
        display: inline-block;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px white;
        text-shadow: -0px -0px 0 rgb(255, 255, 255);
        transition: text-shadow 0.2s ease;
        &:hover {
          text-shadow: -6px -3px 0 rgb(255, 255, 255);
          -webkit-text-stroke: 1px white;
        }
      }
    }
    #insta a {
      letter-spacing: 8px;
    }
    #wapp a {
      letter-spacing: 5px;
    }
    #drib a {
      letter-spacing: 6px;
    }
    #link a {
      letter-spacing: 2px;
    }
    #twitt a {
      letter-spacing: -5px;
    }
  }

  &-direct {
    transform: translate(-60%, 40%);
    button {
      position: relative;
      opacity: 0;
      display: block;
      margin: 40px 0;
      font-size: 18px;
      color: white;
      padding: 35px 40px;
      width: 300px;
      border-radius: 50px;
      background-color: transparent;
      border: 1px solid white;
      transition-property: background-color, color;
      &:hover {
        background-color: white;
        color: black;
        &::after {
          content: attr(data-value);
          color: black;
          background-color: white;
          width: 100%;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

.form {
  display: flex;
  background-color: black;
  padding: 100px 0;
  color: white;

  label {
    font-size: 1.8rem;
  }

  &-heading {
    margin-left: 200px;
    h1 {
      font-family: 'Syne', sans-serif;
      font-weight: 800;
      font-size: 100px;
    }
    h4 {
      font-family: 'Syne', sans-serif;
      font-weight: 800;
      font-size: 40px;
    }
  }

  &-elements {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    margin-left: 200px;

    label {
      font-weight: 900;
      margin-top: 50px;
    }

    input {
      font-size: 18px;
      letter-spacing: 1px;
      padding: 10px 0;
      width: 500px;
      background-color: transparent;
      border-top-style: hidden;
      border-left-style: hidden;
      border-right-style: hidden;
      // border-bottom-style: groove;
      color: white;
      border-bottom: 1px solid white;

      &:focus {
        outline: none;
      }
    }

    textarea {
      padding: 10px 0;
      font-size: 18px;
      letter-spacing: 1px;
      color: white;
      border-top-style: hidden;
      border-left-style: hidden;
      border-right-style: hidden;
      border-bottom: 1px solid white;
      width: 500px;
      background-color: transparent;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  &-shakehands {
    overflow: hidden;
    background-image: url('./../res/shakehands.webp');
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    right: 60%;
    top: 30%;
  }
}

.footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 20px 0;
  background-color: black;
  color: white;
  font-family: 'Syne', sans-serif;
  span {
    color: red;
  }
}

.header {
  background-color: black;
  color: white;
  padding: 150px 200px;

  .close-btn {
    text-decoration: none;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 40px 32px;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 5%;
    right: 10%;
    transition: 0.2s ease;
    transition-property: filter, scale;

    &:hover {
      scale: 0.9;
      filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.1));
      cursor: pointer;
    }
  }
  h1 {
    font-family: 'Syne';
    font-weight: 900;
    font-size: 8rem;
  }

  .line {
    height: 1px;
    width: 40vw;
    background-color: rgba(white, 0.7);
  }

  p {
    width: 500px;
    margin-top: 80px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .profile-pic {
    // overflow: hidden;
    background-image: url('./../res/Profile.png');
    // background-repeat: no-repeat;
    width: 689px;
    height: 689px;
    transform: scale(0.9);
    position: absolute;
    top: 20%;
    right: 10%;

    // position: relative;
    // right: 60%;
    // top: 30%;
  }
}

.services {
  padding: 100px 200px;

  h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    width: 800px;
  }

  .line {
    height: 1px;
    width: 40vw;
    background-color: black;
    position: relative;
    left: -2%;
  }

  .services-div {
    padding: 20px 0;
    h4 {
      font-size: 2rem;
      margin: 30px 0px;
    }
    p {
      width: 450px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    &--right {
      position: relative;
      left: 30%;
    }
  }
}

.story {
  background-color: #f8cc19;
  padding: 10rem 20rem;

  &-section {
    margin-bottom: 50px;
  }

  h1 {
    width: 900px;
    font-size: 8rem;
    font-family: 'Syne', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }
  h4 {
    margin: 20px 0;
    font-size: 20px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    max-width: 95%;
    margin: 0 auto 20px auto;
  }
}

.case-hero-pic {
  position: absolute;

  &-2 {
    position: absolute;
    top: 10%;
    left: 70%;
  }

  .dh-hero-2 {
    position: absolute;
    top: -10%;
    left: 75%;
  }
}

.case-padding {
  height: 400px;
}

.dh-case-padding {
  height: 200px;
}

.pn-case-padding {
  height: 150px;
}

.header-kk {
  background-color: #43bccd;
  padding-bottom: 500px;
}

.header-dh {
  background-color: #da0037;
  padding-bottom: 500px;
}
.header-cs {
  background-color: #6c63ef;
  padding-bottom: 500px;
}
.header-pn {
  background-color: #08baf5;
  padding-bottom: 500px;
}

.desc-sec {
  // display: flex;
  flex-direction: column;
  background-color: white;
  // max-width: 1440px;
  margin: 0 auto;

  h2 {
    font-family: 'Syne', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    margin: 20px 0;
    text-transform: uppercase;
    width: 80%;
  }
  ul li {
    font-size: 2rem;
    width: 80%;
    margin: 10px auto;
    letter-spacing: 1px;
    line-height: 25px;
  }
  p,
  p > a {
    font-size: 2rem;
  }
  h4 {
    max-width: 95%;
    margin: 0 auto 20px auto;
  }
  video {
    display: flex;
    margin: 30px auto;
  }
}

.pn-services-video {
  width: 700px;
}

.case-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px 0;
  max-width: 80%;
}

.scroll-to-top {
  text-align: center;
  font-size: 38px;
  transform: rotate(-90deg);
  background-color: orange;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 1000000;
  bottom: 20;
  right: 20;
  border-radius: 50%;
  display: none;
  &:hover {
    cursor: pointer;
  }
}
